<%- contentFor('body') %>
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100" >
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 5px;margin-bottom: 20px;">
            <div class="card-body p-4 p-md-5" style="background-color:whitesmoke;">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Add Parent</h3>
              <form>
  
                <div class="row">
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <label class="form-label" for="Name">Name</label>

                      <input type="text" id="Name" class="form-control form-control-lg" />
                    </div>
  
                  </div>
            
                </div>
  
                <div class="row">
                  <div class="col-md-12 mb-4 d-flex align-items-center">
  
                    <div class="form-outline datepicker w-100">
                      <label for="file" class="form-label">Photo</label>

                      <input
                        type="file"
                        class="form-control form-control-lg"
                        id="Date"
                      />
                    </div>
  
                  </div>
                 
                </div>
  
                <div class="row">
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div class="form-outline">
                      <label class="form-label" for="emailAddress">Email</label>

                      <input type="email" id="emailAddress" class="form-control form-control-lg" />
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div class="form-outline">
                      <label class="form-label" for="phoneNumber">Phone Number</label>

                      <input type="tel" id="phoneNumber" class="form-control form-control-lg" />
                    </div>
  
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div class="form-outline">
                      <label class="form-label" for="emailAddress">password</label>

                      <input type="password" id="password" class="form-control form-control-lg" />
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div class="form-outline">
                      <label class="form-label" for="confirm password">confirm password</label>

                      <input type="tel" id="confirm password" class="form-control form-control-lg" />
                    </div>
  
                  </div>
                </div>
  
                <div class="row">

                    <div class="col-md-6 mb-4 pb-2">
                    <div >
                      <input class="btn btn-primary btn-lg" style="background-color: #252C4B; color: aliceblue;" type="submit" value="Submit" />
                    </div>
                   </div>
                  
                </div>
  
              
  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>