<%- contentFor('body') %>

<div class="home_wrapper">
    <div class="home_wrapper_draw"><img src="../Public/assets/progressive_app.svg"></div>
    <div class="home_wrapper_info">
        <!-- <div class="p_head">Welcome To Your <span class="subtext">Dashboard</span>..!</div> -->
        <div class="p_head">
            <div class="text">
                <span class="cursor type"></span>
            </div>
        </div>

        <hr>
        <div>Put your school trips, students, drivers and parents information under your hands control.</div>
        <div>Ensurance students' safety by tracking your school buses.</div>
<!-- 
        <div class="center">
            <div class="text">
                <span class="subtext cursor type"></span>
            </div>
        </div> -->

    </div>
</div>