<%- contentFor('body') %>

<div class="home_wrapper">
    <div class="home_wrapper_info">
        <div class="header">
            <div class="text">
                <span class="cursor type"></span>
            </div>
        </div>

        <div class="statistics">
            <div class="drivers" ><span id="plus">+</span><span class="counter" data-target="15">0</span></div>
            <div class="buses"   ><span id="plus">+</span><span class="counter" data-target="27">0</span></div>
            <div class="parents" ><span id="plus">+</span><span class="counter" data-target="38">0</span></div>
            <div class="children"><span id="plus">+</span><span class="counter" data-target="73">0<span></div>
        </div>
    </div>

    <canvas id="myChart" width="450px" height="250px"></canvas>
</div>
<script src="../Public/js/home.js"></script>