<%- contentFor('body') %>

<div class="home_wrapper">
    <div class="home_wrapper_draw"><img src="../Public/assets/progressive_app.svg"></div>
    <div class="home_wrapper_info">
        <div class="p_head">Welcome To Your <span>Dashboard</span>..!</div>
        <hr>
        <div>Put your school trips, students, drivers and parents information under your hands control.</div>
        <div>Ensurance students' safety by tracking your school buses.</div>
    </div>
</div>