<%- contentFor('body') %>

<div class="home_wrapper">
    <!-- <div class="home_wrapper_draw"><img src="../Public/assets/progressive_app.svg"></div> -->
    <div class="home_wrapper_info">
        <!-- <div class="p_head">Welcome To Your <span class="subtext">Dashboard</span>..!</div> -->
        <div class="header">
            <div class="text">
                <span class="cursor type"></span>
            </div>
        </div>

        <div class="statistics">
            <div class="drivers" ><span id="plus">+</span> 43540</div>
            <div class="buses"   ><span id="plus">+</span>56750</div>
            <div class="parents" ><span id="plus">+</span>1332</div>
            <div class="children"><span id="plus">+</span>5633</div>
        </div>

        <!-- <hr>

        <div>Put your school trips, students, drivers and parents information under your hands control.</div>
        <div>Ensurance students' safety by tracking your school buses.</div> -->
        <!-- 
        <div class="center">
            <div class="text">
                <span class="subtext cursor type"></span>
            </div>
        </div> -->
    </div>
</div>