<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="icon" href="../Public/assets/tracking.svg">
    <!-- bootstarp -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--   Fonts   -->
    <link href="http://fonts.cdnfonts.com/css/cera-round-pro" rel="stylesheet">
    <!-- CSS Files -->
    <link href="/Public/css/layout.css" rel="stylesheet">
    <link href="/Public/css/home.css" rel="stylesheet">
    <link href="/Public/css/tracking.css" rel="stylesheet">
    <link href="/Public/css/Drivers.css" rel="stylesheet">
    <link href="/Public/css/Parents.css" rel="stylesheet">
    <link href="/Public/css/addPickPoint.css" rel="stylesheet">
    <!--   mapbox  -->
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>
    <!--  Pusher   -->
    <script src="https://js.pusher.com/7.0/pusher.min.js"></script>
    <!-- Chart.js  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <!-- Typed.js  -->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <!--   Axios   -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <div class="sideBar">
        <div class="user" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">
            <div class="img"><img src="../Public/assets/manager.png"></div>
            <div class="info">
                <div class="name">Shehab Fekry</div>
                <div class="email">shehabeddin99@gmail.com</div>
            </div>
        </div>

        <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvasTopLabel">Administrator Panel</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="info_section"></div>
            <div class="info_section"></div>
        </div>
        </div>

        <ul class="list-group">
            <a href="/dash/tracking"><li class="list-group-item mt-2">Trip Tracking</li></a>
            <a href="/dash/addPickPoint"><li class="list-group-item mt-2">Add a Pick-Point</li></a>
            <a href="/dash/drivers"><li class="list-group-item mt-2">Drivers</li></a>
            <a href="/dash/parents"><li class="list-group-item mt-2">Parents</li></a>
        </ul>
    </div>

    <div class="content">
        <%- body %>
    </div>

    
    <!-- index.js  -->
    <script src="/Public/js/index.js"></script>
</body>
</html>