<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="icon" href="../Public/assets/school-bus.png">
    <link rel="stylesheet" href="../Public/css/newPassword.css">
    <!--   Fonts   -->
    <link href="http://fonts.cdnfonts.com/css/cera-round-pro" rel="stylesheet">
</head>

<body>
    <div class="sign_wrapper">
            <div class="svg">
                <img src="../Public/assets/forgetPass.svg" width="500" height="500" alt="">
            </div>
            <div class="card">
                <div class="card_head">
                    <label> NEW PASSWORD</label>
                </div>
                <form class="postForm" action="/dash/resetPassword" method="POST">
                    <div class="main_container">
                        <div class="input_container">
                            <div><img src="../Public/assets/lock.png"></div>
                            <input class="input_field" id="password" type="password" value="" placeholder="Password">
                            <i class="bi bi-eye-slash" onclick="togglePass(this)"></i>
                        </div>
                        <!-- message -->
                        <div id="passInvalid"></div>
                    </div>

                    <div class="main_container">
                        <div class="input_container">
                            <div><img src="../Public/assets/lock.png"></div>
                            <input class="input_field" id="confPassword" type="password" value="" placeholder="Confirm Password">
                            <i class="bi bi-eye-slash" onclick="toggleConf(this)"></i>
                        </div>
                        <!-- message -->
                        <div id="confPassInvalid"></div>
                    </div>
                    <button class="submit" type="submit">Change</button>
                </form>
            </div>
    </div>
    <script></script>
</body>
</html>