<%- contentFor('body') %>
       <div class="header"> 
       </div>
  
        <div class="container">
            <div class="box">
                <div class="thump">
                  
                    <img src="https://image.shutterstock.com/image-vector/young-man-avatar-character-260nw-661669825.jpg" alt="gamal">
               
                    <div class="but"><a href=""><button class="b">ADD</button></a>
                                  <a href=""><button class="b">UPDATE</button></a>
                                  <button class="b">DELETE</button>
                                  <button class="b">ASSIGN</button>
                    </div>
                </div>
                    <div class="text">
                        <h2>gamal ahmed</h2>
                        <p> i have 2 child my phone is 01000220020 my email is gamalahmed2@yahoo
                        </p>  
                        <a href="#">read more</a>
                    </div>

            </div>
            
                <div class="box">
                    <div class="thump">
                        <img src="https://thumbs.dreamstime.com/b/happy-smiling-geek-hipster-beard-man-cool-avatar-geek-man-avatar-104871313.jpg" >
                        <div class="but"><a href=""><button class="b">ADD</button></a>
                                         <a href=""><button class="b">UPDATE</button></a>
                                                    <button class="b">DELETE</button>
                                                    <button class="b">ASSIGN</button>
                    </div>
                </div>
                        <div class="text">
                            <h2>taher ali</h2>
                            <p> i have 2 child my phone is 01000220020 my email is gamalahmed2@yahoo
                            </p>
                            <a href="#">read more</a>
                        </div>
                   
                    </div>
                     
                <div class="box">
                        <div class="thump">
                            <img src="https://cdn1.vectorstock.com/i/1000x1000/32/10/young-man-avatar-character-vector-14213210.jpg" >
                       
                          <div class="but"><a href=""><button class="b">ADD</button></a>
                                           <a href=""><button class="b">UPDATE</button></a>
                                                      <button class="b">DELETE</button>
                                                      <button class="b">ASSIGN</button>
                        </div>

                        </div>
                            <div class="text">
                                <h2>hisham hossam</h2>
                                <p> i have 4 child my phone is 01000220020 my email is gamalahmed2@yahoo
                                </p>
                                <a href="#">read more</a>
                        </div>
                    </div>
                           
                        <div class="box">
                            <div class="thump">
                                <img src="https://thumbs.dreamstime.com/b/male-avatar-icon-flat-style-male-user-icon-cartoon-man-avatar-hipster-vector-stock-91462914.jpg" >
                          
                                <div class="but"><a href=""><button class="b">ADD</button></a>
                                                 <a href=""><button class="b">UPDATE</button></a>
                                                            <button class="b">DELETE</button>
                                                            <button class="b">ASSIGN</button>
                            </div>
                        </div>  
                                <div class="text">
                                    <h2>tarek ahmed</h2>
                                    <p> i have 2 child my phone is 01000220020 my email is gamalahmed2@yahoo
                                    </p>
                                    <a href="#">read more</a>
                            </div>                       
                     </div>    
                            <div class="box">
                                <div class="thump">
                                    <img src="https://cdn3.vectorstock.com/i/1000x1000/26/07/girl-icon-woman-avatar-face-icon-cartoon-style-vector-24742607.jpg" >
                                    <div class="but"><a href=""><button class="b">ADD</button></a>
                                                     <a href=""><button class="b">UPDATE</button></a>
                                                                <button class="b">DELETE</button>
                                                                <button class="b">ASSIGN</button>
                                </div>
                            </div> 
                                    <div class="text">
                                        <h2>mariam ahmed</h2>
                                        <p> i have 2 child my phone is 01000220020 my email is mariamahmed2@yahoo
                                        </p>
                                        <a href="#">read more</a>
                                   
                
                                </div>
                            
                            </div>     
                                <div class="box">
                                    <div class="thump">
                                        <img src="https://media.istockphoto.com/vectors/young-arabic-business-woman-wearing-hijab-vector-id917649844?b=1&k=20&m=917649844&s=612x612&w=0&h=qpsWT672fVVtKmGFkyZ27-BjnGL7wHiESGj0dWB1TX0=">
                                        <div class="but">
                                            <a href=""><button class="b">ADD</button></a>
                                            <a href=""><button class="b">UPDATE</button></a>
                                                       <button class="b">DELETE</button> 
                                                       <button class="b">ASSIGN</button>
                                    </div>
                                </div>
                                        <div class="text">
                                            <h2>soha ahmed</h2>
                                            <p> i have 2 child my phone is 01000220020 my email is sohaahmed2@yahoo
                                            </p>
                                            <a href="#">read more</a>
                                        
                    
                                    </div>
                                
                                </div>
        </div>  
         
