.home_wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}

.home_wrapper_draw img{
    height: 400px;
    width: 400px;
}

.info_section{
    height: 50%;
    width: 90%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid black; */
}

.info_section .typing{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30%;
    width: 100%;
    /* box-shadow: 0px 0px 10px #ccc; */
    background-color: #f8f8f8;
    border-radius: 10px;
    /* border: 1px solid black; */
} 

/* .typing::before{
    content: 'Develepors Statement';
    position:absolute;
    z-index: 1;
    margin-top: -110px;
    margin-left: -550px;
    font-size: 30px;
    font-weight: 800;
    color: #384850;
    background-color: unset;
    text-shadow: 0px 0px 5px #ccc;
} */

/* ------------------------------ Statistics -------------------------------- */


.info_section .statistics{
    display: flex;
    flex-flow: row;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    /* padding: 70px; */
    /* border: 1px solid red; */
}

.drivers, .buses, .parents, .children{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 80px;
    border-radius: 10px;
    /* box-shadow: 0px 0px 5px #ccc; */
    text-shadow: 0px 0px 2px #ccc;
    color: #ffc107;
    font-size: 30px;
    font-weight: 800;
    background-color: #f8f8f8;
}

#plus{
    color: #252C4B;
}

.drivers::before, .buses::before, .parents::before, .children::before{
    position:absolute ;
    z-index: 1;
    margin-top: -85px;
    font-size: 25px;
    font-weight: 800;
    color: #384850;
    background-color: unset;
    text-shadow: 0px 0px 5px #ccc;
}

.drivers::before{content: 'Drivers'; margin-left: -60px;}
.buses::before{content: 'Buses'; margin-left: -70px;}
.parents::before{content: 'Parents'; margin-left: -55px;}
.children::before{content: 'Children'; margin-left: -45px;}



/* ------------------------------ Typed.js animation -------------------------------- */


.info_section .typing .text{
    font-size: 20px;
    font-weight: 800;
    color: #384850;
    /* text-shadow: 0px 0px 5px #ccc; */
}

.info_section .typing .subtext{
    color: #ffc107;
    display: inline-block;
} 

.cursor::after {
		content: '|';
		display: inline;
		animation: blink 0.7s infinite;
	}


/*Removes cursor that comes with typed.js*/
.typed-cursor{
   opacity: 0;
	display: none;
}
/*Custom cursor animation*/
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


/* -------------------------------------- Chart.js ------------------------------------- */


.charts_section{
    width: 90%;
    display: flex;
    flex-flow: row;
    justify-content:space-between;
    align-items: center;
    height: 50%;
    /* border: 1px solid black; */
}

.charts_section .card{
    width: 440px;
    border: none;
    /* box-shadow: 0px 0px 10px #ccc; */
    color: #384850;
    border-radius: 20px;
}