/* ------------------------------ Page Layout -------------------------------- */
  body{
    font-family: 'Cera Round Pro', sans-serif;;
  }

.sideBar{
    background-color: #f8f8f8;
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 25%;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0px 0px 10px #ccc;
    z-index: 1; 
  }

  /* ------------------------------ Admin Account -------------------------------- */

.user{
  display: flex;
  flex-flow: row;
  margin-top: 50px;
  padding: 5px;
  width: 80%;
  border-radius: 50px;
  background-color: unset;
  box-shadow: 0px 0px 10px #ccc;
  color: #384850;
  font-weight: bold;
  cursor: pointer;
}

.user img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #384850;  
  background-color: #384850;
  box-shadow: 0px 0px 5px rgb(83, 82, 82);
  /* background-color: #FFC107; */
}

.user .img{
  width: 25%;
  /* border: 1px solid white; */
}

.user .info{
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items:flex-start;
  font-size: small;
  /* border: 1px solid white; */
}

/* ------------------------------ Navigation -------------------------------- */
  
.sideBar .list-group{
  margin-top: 200px;
  width: 80%;
  font-weight: 800;
  font-size: 16px;
}

.list-group-item{
  background-color: unset;
  color: #384850;
  border: none;
  border-left: 5px solid #384850;
}

.list-group-item:hover{
  background-color: white;
  color: #384850;
}

a{
  text-decoration: none;
}

.content
{
    position: fixed;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 75%;
}