*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
.header{
    height: 70px;
    background-color: #f5fcff05;
}

.plus{
    text-align: center;
    padding-bottom: 20%;
}
.g{
    position: fixed;
    bottom: 45px;
    right: 65px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: none;
}
.container{
    overflow: scroll;
    background-color: whitesmoke;
    max-width: 1000px;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
    border-radius: 30px;
    
}

.box{
    max-width: 500px;
    min-height: 250px;
    position: relative;
    cursor: pointer;
    border-radius: 30px;
    width: calc(100% /4);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    float: left;
}
.box:hover{
    background-color: rgba(172, 172, 175, 0.3);
    border: #ccc;
    box-shadow: 5px;
  }
.box .thump {
    max-width: 100px;
    width: 100%;
    height: 100px;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    float: left;
    shape-outside: circle();
    margin-right: 20px;
}
.thump img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}


.thump .but button {
    width: 40px;
    height: 30px;
    display: inline-block;
    line-height: 20px;
    color: rgba(39, 16, 16, 0); 
    font-size: xx-small;
    
}
.but{
    height: 10%;
    padding-bottom: 20%;
}
.b{
    background: linear-gradient(90deg,#0162c8,#2d598b);
    color: #f8f8f8;
    width: 56px;
    display: inline-block;
    border-radius: 10px;
    font-size: x-small;
    height: 30px;
    border: none;
    
}
.b:hover{
    background: linear-gradient(90deg,#7397bd,#2c79d1);  
}

.box .text{
    padding-top: 0px;
}
.box .text h4 {
    text-transform: uppercase;
   
    padding: auto; 
    padding-top: 70%;
}
.box .text p {
    margin: 15px 0;
    padding-bottom: 5%;
}
.box .text a {
    text-decoration: none;
}
.box .text a:hover{
color: rgb(255, 0, 21);
}

@media(max-width:500px){
    .box .thump{
        float: none;
        margin: auto;
    }
    .box .text{
        padding: 0;
        margin: 15px;
    }
}